/***********************VARIABLES***************************/
@import '_partials/variables';


/************************GLOBAL & GRID CODING***********/
@import '_partials/global';


/***********************DESKTOP HEADER STYLING*********************/
@import '_partials/header';






/****************PAGE SPECIFIC STYLING (HOME PAGE)*********************/
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/

/***********************DESKTOP HERO STYLING***********************/
main {
	display: block;


	.heroimage {
		background-image: url(../img/home/home_hero.jpg);
		-webkit-background-size: 100% auto;
		-moz-background-size: 100% auto;
		-ms-background-size: 100% auto;
		-o-background-size: 100% auto;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;


		.hero {
			padding-top: 160px;
			padding-bottom: 20px;
		}

		h4 {
			font-size: 72px;
			color: $color-pri;
			margin: 0;
		}
		h1 {
			margin-top: 0px;
			font-size: 24px;
			color: $color-ter;
		}
		.flame {
			background-image: url(../img/MHDwhiteflame.svg);
			-webkit-background-size: 100% auto;
			-moz-background-size: 100% auto;
			-ms-background-size: 100% auto;
			-o-background-size: 100% auto;
			background-size: full-width;
			background-repeat: no-repeat;
			background-position: bottom;
			height: 200px;
			margin-bottom: -5px;
		}
	} /*END HERO STYLING*/


	.row1 {
		.vid {
			margin-top: 100px;
			width: 100%;
			height: 330px;
		}

		@media only screen and (max-width: $mobile-screen) {
			.vid {
				margin-top: 0px;
				height: 220px;
			}
		}
	}

	.row2 {
		background-color: $color-qua;

		h2 {
			margin-bottom: 4px;
		}

	}

	.usp1 {
		background-color: $color-sec;
		padding-top: 8px;
		padding-bottom: 8px;

		h5 {
			color: white;
			text-align: center;
			font-size: 26px;
			margin: 8px 0;
			padding-left: 10px;
			padding-right: 10px;
		}
	}


	.row3 {
		background-color: rgba(255, 255, 255, .8);
		background-image: url(../img/home/home_hero2.jpg);
		-webkit-background-size: 100% auto;
		-moz-background-size: 100% auto;
		-ms-background-size: 100% auto;
		-o-background-size: 100% auto;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

		h2 {
			text-align: center;
		}

		.twitter-timeline, .fb-page {
			height: 397px;
		}
	}



	.row4 {
		background-color: $color-qua;
	
		.col-l {
			background-image: url(../img/home/home_laptop.jpg);
			-webkit-background-size: 100% auto;
			-moz-background-size: 100% auto;
			-ms-background-size: 100% auto;
			-o-background-size: 100% auto;
			background-size: cover;
			background-position: center;	
			background-color: black;

			min-height: 200px;
		}

		.col-r {
			padding: 80px 50px;
		}
	}


	.mullets {
		list-style-image: url(../img/MoultonLogoBullet.svg);
		padding-left: 17px;
	}

}


/********************************FOOTER STYLING*********************/
@import '_partials/footer';



/*************************TABLET STYLING********************************/




/**************************MOBILE STYLING / TRUMPS ALL OTHER CODE FOR MOBILE IF NEEDED*******************************/
@import '_partials/mobile';